 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 556px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 30px 110px 0;
}

.u-section-1 .u-video-1 {
  width: 711px;
  height: 400px;
  margin: 30px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 285px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 100px;
  height: auto;
  margin: 30px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 896px;
  height: auto;
  margin: 30px auto -4px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-3 .u-text-2 {
  background-image: none;
  margin: 0 10px;
}

.u-section-3 .u-text-3 {
  margin: 10px 10px 0;
}

.u-section-3 .u-image-1 {
  height: 401px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 361px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    height: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 171px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 881px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 690px;
  height: auto;
  margin: 30px auto 12px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 255px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 109px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 856px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 670px;
  height: auto;
  margin: 30px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 260px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 111px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 671px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 482px;
  height: auto;
  margin: 30px auto 34px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-image-1 {
  width: 367px;
  height: 259px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 225px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 698px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 512px;
  height: auto;
  margin: 30px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-image-1 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 114px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1796px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 1653px;
  height: auto;
  margin: 30px auto -322px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .u-text-2 {
  margin: 0;
}

.u-section-8 .u-image-1 {
  width: 548px;
  height: 299px;
  margin: 15px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-8 .u-image-2 {
  width: 548px;
  height: 309px;
  margin: 15px auto 0;
}

.u-section-8 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-8 .u-image-3 {
  height: 232px;
  width: 548px;
  margin: 15px auto 0;
}

.u-section-8 .u-text-5 {
  margin: 15px 0 0;
}

.u-section-8 .u-image-4 {
  height: 278px;
  width: 549px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 794px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-3 {
    height: 233px;
  }

  .u-section-8 .u-image-4 {
    height: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 520px;
    height: 284px;
  }

  .u-section-8 .u-image-2 {
    width: 520px;
    height: 293px;
  }

  .u-section-8 .u-image-3 {
    height: 221px;
    width: 520px;
  }

  .u-section-8 .u-image-4 {
    height: 243px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 175px;
  }

  .u-section-8 .u-image-2 {
    width: 320px;
    height: 180px;
  }

  .u-section-8 .u-image-3 {
    height: 136px;
    width: 320px;
  }

  .u-section-8 .u-image-4 {
    height: 150px;
    width: 320px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1991px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-9 .u-text-2 {
  width: 800px;
  margin: 15px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-group-1 {
  width: 800px;
  min-height: 1805px;
  height: auto;
  margin: 30px auto -158px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 20px 18px;
}

.u-section-9 .u-text-3 {
  margin: 0;
}

.u-section-9 .u-image-1 {
  width: 548px;
  height: 200px;
  margin: 15px auto 0;
}

.u-section-9 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-9 .u-image-2 {
  width: 549px;
  height: 485px;
  margin: 15px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 15px 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-image-3 {
  height: 344px;
  width: 548px;
  margin: 15px auto 0;
}

.u-section-9 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-9 .u-image-4 {
  width: 548px;
  height: 191px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }

  .u-section-9 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    width: 520px;
    height: 190px;
  }

  .u-section-9 .u-image-2 {
    width: 520px;
    height: 459px;
  }

  .u-section-9 .u-image-3 {
    height: 326px;
    width: 520px;
  }

  .u-section-9 .u-image-4 {
    width: 520px;
    height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
    height: 117px;
  }

  .u-section-9 .u-image-2 {
    width: 320px;
    height: 282px;
  }

  .u-section-9 .u-image-3 {
    height: 201px;
    width: 320px;
  }

  .u-section-9 .u-image-4 {
    width: 320px;
    height: 112px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 775px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-10 .u-group-1 {
  width: 800px;
  min-height: 633px;
  height: auto;
  margin: 30px auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px;
}

.u-section-10 .u-text-2 {
  margin: 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-group-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
  }
}